body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

main {
    padding: 20px;
}

main p {
    margin: 10px 0;
    text-indent: 50px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-size: 35px;
}
